@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #8acfe5;
}

img {
  display: block;
  width: 100%;
}

button {
  margin: 0 auto 0 auto;
  display: block;
  width: 308px;
  height: 66px;
  font-weight: 700;
  font-size: 24px;
  max-width: 80%;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

html {
  opacity: 1;
  scroll-behavior: smooth;
}
html.--transparant {
  transition: opacity linear 200ms;
  opacity: 0.5;
}

header {
  height: 144px;
  background-color: #011827;
  color: white;
  padding-top: 26px;
}
@media (min-width: 700px) {
  header {
    height: 16vw;
    min-height: 144px;
  }
}
@media (min-width: 900px) {
  header {
    height: 216px;
  }
}
header div {
  display: flex;
}
header div .logo {
  height: 82px;
  width: 128px;
  font-family: "Monofett", monospace;
  font-size: 40px;
  border: solid 6px;
  border-radius: 17px;
  margin: 0px 0 0 27px;
  padding: 26px 0px 5px 5px;
}
header div .logo:hover {
  color: inherit;
}
header div h1 {
  width: 80px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 13px;
}
@media screen and (min-width: 1200px) {
  header div h1 {
    font-size: 40px;
    width: fit-content;
    margin: 35px 0 0 24px;
  }
}
@media screen and (min-width: 1750px) {
  header div h1 {
    font-size: 50px;
    margin: 28px 0 0 24px;
  }
}
header div .navbar-button {
  background: url(menu-bar.png);
  width: 51px;
  height: 32px;
  margin: 2px 20px 0 auto;
}
@media (min-width: 900px) {
  header div .navbar-button {
    display: none;
  }
}
header .navBar {
  display: none;
}
@media screen and (min-width: 900px) {
  header .navBar {
    display: unset;
  }
  header .navBar__close-button {
    display: none;
  }
  header .navBar__list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 58px auto 0 auto;
  }
}
@media screen and (min-width: 900px) and (min-width: 1750px) {
  header .navBar {
    margin: 50px auto 0 auto;
  }
  header .navBar li {
    font-size: 24px;
    font-weight: 700;
  }
}
@media screen and (min-width: 900px) and (min-width: 1750px) and (min-width: 1750px) {
  header .navBar li {
    font-size: 28px;
  }
}
@media (max-width: 899px) {
  header .navBar--popup {
    background-color: #011827;
    width: calc(100vw - 44px);
    height: calc(100vh - 44px);
    position: fixed;
    top: 22px;
    left: 22px;
    outline: 22px rgba(255, 255, 255, 0.5019607843) solid;
    animation: popup-background 100ms linear;
  }
  @keyframes popup-background {
    0% {
      width: calc(100vw - 54px);
      height: calc(100vh - 54px);
      top: 27px;
      left: 27px;
      outline: 27px rgba(255, 255, 255, 0.5019607843) solid;
      opacity: 0.8;
    }
    100% {
      width: calc(100vw - 44px);
      height: calc(100vh - 44px);
      position: fixed;
      top: 22px;
      left: 22px;
      outline: 22px rgba(255, 255, 255, 0.5019607843) solid;
      opacity: 1;
    }
  }
  header .navBar--popup button {
    background: url(close.png) no-repeat;
    width: 40px;
    height: 41px;
    margin-left: calc(100% - 41px - 28px);
    margin-top: 25px;
  }
  header .navBar--popup ul {
    position: relative;
    top: calc(50% - 66px);
    transform: translateY(-50%);
    text-align: center;
  }
  header .navBar--popup ul li {
    font-weight: 700;
    font-size: 36px;
    padding: 2.7vh 0;
    animation: list-item-sizes 100ms linear;
  }
  @keyframes list-item-sizes {
    0% {
      font-size: 35.3px;
    }
    100% {
      font-size: 36px;
    }
  }
}

.topImageSmall {
  margin-bottom: 36px;
}
@media (max-width: 420px) {
  .topImageSmall {
    height: 70vw;
    object-fit: cover;
  }
}
@media screen and (min-width: 700px) {
  .topImageSmall {
    height: 30vw;
    min-height: 450px;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .topImageSmall {
    display: none;
  }
}

.topImageLarge {
  display: none;
}
@media screen and (min-width: 1200px) {
  .topImageLarge {
    display: block;
    height: 38.5vw;
    min-height: 450px;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .buttons--translate {
    transform: translateY(-35px);
    margin-bottom: -30px;
  }
}
.buttons__onsiteBtn {
  color: #011827;
  background: #8acfe5;
  margin-top: 25px;
}
@media screen and (min-width: 1200px) {
  .buttons__onsiteBtn {
    margin: 0 auto 0 8.5px;
    order: 2;
  }
}
.buttons__onlineBtn {
  margin: 10px auto 0 auto;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  color: #36769d;
  background-color: inherit;
}
@media screen and (min-width: 1200px) {
  .buttons__onlineBtn {
    margin: 0 8.5px 0 auto;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #e3170a;
    order: 1;
  }
}

@media (min-width: 1200px) {
  .quotes-section {
    display: flex;
    width: 87%;
    margin: 0 auto;
  }
}
.quotes-section .quote-container {
  display: flex;
  margin-top: 50px;
}
@media (max-width: 420px) {
  .quotes-section .quote-container {
    display: block;
  }
}
@media (700px < width < 1200px) {
  .quotes-section .quote-container {
    margin: 50px 8%;
  }
}
@media (min-width: 1200px) {
  .quotes-section .quote-container {
    margin: 70px auto 0 auto;
  }
}
.quotes-section .quote-container__head {
  margin: 0 0 0 21px;
  width: 73px;
  height: 72px;
}
@media (max-width: 420px) {
  .quotes-section .quote-container__head {
    margin: 0 auto;
  }
}
@media (700px < width < 1200px) {
  .quotes-section .quote-container__head {
    width: 96px;
    height: 96px;
  }
}
@media (min-width: 1200px) {
  .quotes-section .quote-container__head {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 420px) {
  .quotes-section .quote-container__texts {
    width: 85%;
    margin: 20px auto 0 auto;
  }
}
.quotes-section .quote-container__quoteText {
  margin-left: 22px;
  margin-right: 25px;
  font-style: italic;
  font-size: 24px;
}
.quotes-section .quote-container__name {
  margin-left: 21px;
  margin-top: 4px;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .quotes-section .quote-container__name {
    margin-top: 14px;
    max-width: 300px;
  }
}
.quotes-section .quote-container.quote2 {
  display: none;
}
@media (min-width: 1200px) {
  .quotes-section .quote-container.quote2 {
    display: flex;
    margin-top: 70px;
  }
}

.challenges-container {
  padding-bottom: 19px;
  padding-left: 10%;
  padding-right: 2%;
  display: flex;
  flex-flow: wrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 5%;
}
@media (700px < width < 1200px) {
  .challenges-container {
    padding-left: 15%;
    padding-right: 20%;
    gap: 2%;
  }
}
@media (min-width: 1200px) {
  .challenges-container {
    width: fit-content;
    overflow-x: auto;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-evenly;
    margin: 0 0px 0 10px;
    gap: 0;
  }
}
@media (min-width: 1750px) {
  .challenges-container {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-evenly;
    margin: 0 0px 0 10px;
    gap: 0;
  }
}
.challenges-container__title {
  margin: 105px 20px 0 20px;
  font-size: 32px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .challenges-container__title {
    font-size: 36px;
  }
}
.challenges-container__challenge {
  background-color: #fff;
  width: 85%;
  max-width: 400px;
  flex: none;
  margin: 44px 20px 0 0px;
  border: 0px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  scroll-snap-align: center;
}
@media screen and (min-width: 700px) {
  .challenges-container__challenge {
    max-width: 520px;
    margin: 44px 5% 0 5%;
  }
}
@media screen and (min-width: 1200px) {
  .challenges-container__challenge {
    max-width: 29%;
    margin: 87px 10px 77px 0px;
  }
}
@media screen and (min-width: 1750px) {
  .challenges-container__challenge {
    max-width: 29%;
    margin: 87px 10px 77px 0px;
  }
}
.challenges-container__challenge__img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.challenges-container__challenge__lowerWrapper {
  margin: 0px auto;
  padding-left: 17px;
  padding-bottom: 12px;
}
@media screen and (700px <= width < 1200px) {
  .challenges-container__challenge__lowerWrapper {
    padding-right: 10px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1750px) {
  .challenges-container__challenge__lowerWrapper {
    margin: 0px auto;
    padding-left: 47px;
    padding-right: 25px;
    padding-bottom: 30px;
  }
}
.challenges-container__challenge__title {
  margin-top: 12px;
  font-size: 28px;
}
@media screen and (min-width: 1750px) {
  .challenges-container__challenge__title {
    margin-top: 20px;
  }
}
.challenges-container__challenge__rating {
  display: flex;
}
.challenges-container__challenge__rating__stars {
  display: flex;
}
.challenges-container__challenge__rating__stars i {
  background-color: none;
  display: block;
  width: 23px;
  margin-right: 3px;
  color: red;
  font-size: 0.9em;
}
.challenges-container__challenge__rating__participants {
  display: inline;
  font-size: 14px;
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .challenges-container__challenge__rating__participants {
    margin-right: 11px;
    margin-left: auto;
  }
}
.challenges-container__challenge__text {
  margin-top: 23px;
  margin-right: 10px;
  font-size: 18px;
}
@media screen and (700px <= width < 1200px) {
  .challenges-container__challenge__text {
    margin-top: 23px;
    margin-right: 10px;
    font-size: 22px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1750px) {
  .challenges-container__challenge__text {
    margin-top: 23px;
    margin-right: 10px;
    font-size: 22px;
    padding-bottom: 60px;
  }
}
.challenges-container__challenge__button {
  margin-top: 25px;
  margin-right: 17px;
  width: 180px;
  height: 44px;
  background-color: #e3170a;
  color: white;
  font-size: 16px;
}
@media screen and (min-width: 1750px) {
  .challenges-container__challenge__button {
    width: 210px;
    height: 55px;
    font-size: 18px;
  }
}

.ourStory-container {
  color: white;
  margin-top: 56px;
  padding-top: 95px;
  padding-bottom: 91px;
  background-color: #011827;
}
@media (min-width: 1200px) {
  .ourStory-container {
    margin-top: 87px;
    height: 500px;
    padding-top: 123px;
  }
}
.ourStory-container__text {
  font-size: 28px;
  text-align: center;
  margin: 0 20px;
}
@media (700px < width < 1200px) {
  .ourStory-container__text {
    margin: 0 15%;
  }
}
@media (min-width: 1200px) {
  .ourStory-container__text {
    display: block;
    width: 48%;
    margin: 0 auto;
  }
}
.ourStory-container__btn {
  margin-top: 60px;
  background-color: #011827;
  color: #8acfe5;
  border: 2px solid #8acfe5;
}
@media (min-width: 1200px) {
  .ourStory-container__btn {
    margin-top: 42px;
  }
}

.PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER img {
  height: 100%;
  object-fit: cover;
}
.PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section {
  padding: 0 20px 64px 20px;
}
.PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section h3 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
}
.PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section p {
  margin-top: 40px;
  font-size: 24px;
}
.PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section button {
  background-color: #e3170a;
  margin-top: 50px;
  margin-left: 0;
  color: white;
}
@media (800px <= width < 1200px) {
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1.8fr;
    grid-template-rows: 37.5vw 37.5vw;
    margin-bottom: 103px;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER img {
    height: 100%;
    object-fit: cover;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER .imgAbovePlayWithFriends {
    grid-column: 1/4;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER .imgAbovePlayOnline {
    grid-column: 2/5;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER .PLAY-ONLINE-CONTAINER {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section {
    width: 90%;
    margin: auto;
    padding: 0;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section h3 {
    margin-top: 0;
    font-size: 20px;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section p {
    margin-top: 25px;
    font-size: 18px;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section button {
    background-color: #e3170a;
    margin-top: 25px;
    margin-left: 10%;
    padding: 0 0;
    color: white;
    font-size: 16px;
    height: 44px;
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 37.5vw 37.5vw;
    margin-bottom: 183px;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER img {
    height: 100%;
    object-fit: cover;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER .imgAbovePlayWithFriends {
    grid-column: 1/2;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER .imgAbovePlayOnline {
    grid-column: 2/3;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER .PLAY-ONLINE-CONTAINER {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section {
    width: 65%;
    margin: auto;
    padding: 0;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section h3 {
    margin-top: 0;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section p {
    margin-top: 25px;
    font-size: 24px;
  }
  .PLAY-WITH-FRIENDS-AND-ONLINE-CONTAINER section button {
    background-color: #e3170a;
    margin-top: 25px;
    margin-left: 0;
    color: white;
  }
}

.footer {
  background-color: #011827;
  margin-top: 38px;
  color: white;
  padding: 64px 20px 70px 20px;
  font-size: 18px;
}
.footer__title {
  font-weight: 700;
}
.footer__text {
  margin-top: 7px;
}
.footer .links__title {
  margin-top: 40px;
  font-weight: 700;
}
.footer .links__list {
  margin-top: 7px;
}
.footer .followUs__title {
  margin-top: 47px;
  font-weight: 700;
}
.footer .followUs__list {
  margin-top: 7px;
}
@media screen and (min-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3;
    padding-right: 20%;
  }
  .footer__title {
    grid-column: 1/3;
    padding-left: 5%;
  }
  .footer__text {
    margin-top: 7px;
    grid-row: 2;
    grid-column: 1/3;
    padding-left: 5%;
  }
  .footer .links__title {
    margin-top: 40px;
    grid-row: 3;
    grid-column: 1;
    padding-left: 10%;
  }
  .footer .links__list {
    margin-top: 7px;
    grid-row: 4;
    grid-column: 1;
    padding-left: 10%;
  }
  .footer .followUs__title {
    grid-column: 2;
    grid-row: 3;
    margin-top: 40px;
    padding-left: 20%;
  }
  .footer .followUs__list {
    grid-row: 4;
    margin-top: 7px;
    padding-left: 20%;
  }
}
@media (min-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 146px 0 174px 0;
    font-size: 18px;
  }
  .footer__title {
    width: 65%;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;
  }
  .footer__text {
    margin: 0 auto;
    width: 65%;
    margin-top: 7px;
    grid-column: 1;
  }
  .footer .links__title {
    margin-top: 0px;
    grid-row: 1;
    grid-column: 2;
    width: 40%;
    margin: 0 auto;
    padding-left: 0;
  }
  .footer .links__list {
    width: 40%;
    margin: 7px auto 0 auto;
    grid-column: 2;
    grid-row: 2;
    padding-left: 0;
  }
  .footer .followUs__title {
    grid-column: 3;
    grid-row: 1;
    margin-top: 0px;
    padding-left: 0;
  }
  .footer .followUs__list {
    grid-column: 3;
    grid-row: 2;
    padding-left: 0;
  }
}
@media (min-width: 1750px) {
  .footer {
    font-size: 22px;
  }
}

.filterButton {
  background-color: #8acfe5;
  margin: 2em auto 1em auto;
}

.filterDiv {
  display: none;
  max-width: 90vw;
  border: solid 2px black;
  border-radius: 8px;
  margin: 2em auto 0 auto;
}
.filterDiv h1 {
  font-size: 1.4em;
  margin: 1.2em 0 0 1.5em;
}
.filterDiv .closeMenu {
  position: relative;
  float: right;
  top: -50px;
  left: 30px;
  margin: 1em;
  background-color: transparent;
  font-size: 3em;
  width: fit-content;
  height: fit-content;
}
.filterDiv .middleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 2em;
  width: 100%;
}
.filterDiv .middleSection h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.filterDiv .middleSection .checkBoxContainer {
  display: flex;
  flex-direction: column;
}
.filterDiv .middleSection .starSelection {
  display: flex;
  flex-direction: column;
}
.filterDiv .middleSection .starSelection .starsContainer {
  display: flex;
  flex-direction: row;
}
.filterDiv .middleSection .starSelection .starsContainer p {
  font-size: 25px;
  margin: 0px 10px;
}
.filterDiv .middleSection .starSelection .starsContainer .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.filterDiv .middleSection .starSelection .starsContainer .stars i.active {
  color: red;
}
.filterDiv .middleSection .starSelection .starsContainer .stars2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.filterDiv .middleSection .starSelection .starsContainer .stars2 i.active {
  color: red;
}
.filterDiv .middleSection .starSelection .keywordFilter {
  display: flex;
  flex-direction: column;
  margin: 4em 0 2em 0;
}
.filterDiv .middleSection .starSelection .keywordFilter input {
  border: 2px solid black;
  border-radius: 4px;
  width: 300px;
  height: 40px;
  padding: 0 0.5em;
}
.filterDiv .tagsContainer {
  display: flex;
  flex-direction: column;
}
.filterDiv .tagsContainer .tagButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 400px;
}
.filterDiv .tagsContainer .tagButton {
  margin: 0;
  height: 35px;
  width: fit-content;
  padding: 0 1em;
  border-radius: 30px;
  font-size: 0.8em;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}
.filterDiv .tagsContainer .tagButton:hover {
  background-color: #8ACFE5;
}
.filterDiv .tagsContainer .-active {
  background-color: #8ACFE5;
}

.challenges-container.challenges-site {
  padding-bottom: 19px;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: left;
  gap: 5%;
  margin: 0 auto;
}
@media (width < 1200px) {
  .challenges-container.challenges-site {
    justify-content: center;
  }
}

.no-match-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #011827;
  font-size: 50px;
  margin: 50px 0px;
  font-weight: 700;
}

@keyframes challengeCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.challenges-container__challenge {
  animation: challengeCard 0.5s;
}

.bookingSceneContainer__class {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 0px 0px 50px;
  color: white;
}

.bookingSceneContainer__SectionClass {
  position: sticky;
  z-index: 1;
  width: 95%;
  min-height: 700px;
  background-color: #011827;
  display: flex;
  flex-flow: column;
  padding: 20px;
  border-radius: 10px;
}
.bookingSceneContainer__SectionClass .bookingSceneContainer__h1Class {
  font-size: 60px;
}
.bookingSceneContainer__SectionClass .bookingSceneContainer__ArrivalTextClass {
  font-size: 50px;
  margin-top: 50px;
}
.bookingSceneContainer__SectionClass .datelabel {
  font-size: 25px;
  margin-top: 50px;
}
.bookingSceneContainer__SectionClass .dateInput {
  width: 290px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px;
}
.bookingSceneContainer__SectionClass .bookingSceneContainer__ContinueBtnClass {
  height: 60px;
  background-color: white;
  margin: 480px 0px 0px 1400px;
  border-radius: 5px;
}

.bookingSceneContainer__SecondSectionClass {
  position: sticky;
  z-index: 1;
  width: 95%;
  height: 95%;
  background-color: #011827;
  display: flex;
  flex-flow: column;
  padding: 20px;
  border-radius: 5px;
}
.bookingSceneContainer__SecondSectionClass .bookingScene__SecondRoomH1Class {
  font-size: 60px;
}
.bookingSceneContainer__SecondSectionClass .userNameLabelClass {
  font-size: 25px;
}
.bookingSceneContainer__SecondSectionClass .bookingScene__SecondRoomInputNameClass {
  width: 290px;
  width: 290px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}
.bookingSceneContainer__SecondSectionClass .E-MailClassLabel {
  font-size: 25px;
}
.bookingSceneContainer__SecondSectionClass .bookingScene__SecondRoomInputEmailClass {
  width: 290px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}
.bookingSceneContainer__SecondSectionClass .SelectTimeClassLabel {
  font-size: 25px;
}
.bookingSceneContainer__SecondSectionClass .bookingScene__SecondRoomSelectTimeClass {
  width: 290px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}
.bookingSceneContainer__SecondSectionClass .bookingScene__SecondRoomSelectParticipantslabelClass {
  font-size: 25px;
}
.bookingSceneContainer__SecondSectionClass .bookingScene__SecondRoomSelectParticipantsClass {
  width: 290px;
  height: 50px;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px;
}
.bookingSceneContainer__SecondSectionClass .bookingSceneContainer__SecondRoomSubmitBtnClass {
  background-color: white;
  margin: 400px 0px 0px 1400px;
  height: 100px;
  font-size: 25px;
  border-radius: 5px;
}

.bookingSceneContainer__LastSectionClass {
  position: sticky;
  z-index: 1;
  width: 95%;
  height: 95%;
  background-color: #011827;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.bookingSceneContainer__LastSectionClass .bookingSceneContainer__LastSectionh2Class {
  font-size: 60px;
}
.bookingSceneContainer__LastSectionClass .bookingSceneContainer__LastSectionLinkClass {
  font-size: 25px;
  color: rgb(93, 61, 209);
  border-bottom: rgb(61, 48, 110) solid 2px;
}

/*# sourceMappingURL=main.css.map */
