.bookingSceneContainer__Class {
width: 100%;
height: 2000px;
}


.bookingSceneContainer__SectionClass {
width: 90%;
background-color: red;

}

.bookingSceneContainer__SecondSectionClass {
    
background-color: red;
width: 90%;

}