// Modal page container


.bookingSceneContainer__class {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 0px 0px 50px;
    color: white;
    
    }
    // First Modal page
    .bookingSceneContainer__SectionClass { 
        position: sticky;
        z-index: 1;
        width: 95%;
        min-height: 700px;
        background-color: #011827;
        display: flex;
        flex-flow: column;
        padding: 20px;
        border-radius: 10px;
    .bookingSceneContainer__h1Class {
    font-size: 60px ;
    }
    
    .bookingSceneContainer__ArrivalTextClass {
    font-size: 50px;
    margin-top: 50px;
    }
    
    
    
    
    .datelabel {
    font-size: 25px;
    margin-top: 50px;
    }
    
    .dateInput {
        width: 290px;
        height: 50px;
        font-size: 25px;
        border-radius: 5px;
        padding: 10px;
    }
    
    
    
    .bookingSceneContainer__ContinueBtnClass {
    height: 60px;
    background-color: white;
    margin: 0px;
    border-radius: 5px;
    flex-direction: row;
    align-self: flex-end;
    margin: 280px 0px 0px 0px;
    }
    
    }
    
    // Second modal page
    .bookingSceneContainer__SecondSectionClass {
        position: sticky;
        z-index: 1;
        width: 95%;
        height: 95%;
        background-color: #011827;
        display: flex;
        flex-flow: column;
        padding: 20px;
        border-radius: 5px ;
    
    
    .bookingScene__SecondRoomH1Class {
        font-size: 60px ;
    
    }
    
    
    
    .userNameLabelClass {
        font-size: 25px;
    }
    
    
    .bookingScene__SecondRoomInputNameClass {
        width: 290px;
        width: 290px;
        height: 50px;
        font-size: 25px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
    
    }
    
    .E-MailClassLabel {
        font-size: 25px;
    
    }
    
    .bookingScene__SecondRoomInputEmailClass {
        width: 290px;
        height: 50px;
        font-size: 25px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
    
    }
    
    
    .SelectTimeClassLabel {
        font-size: 25px;
    
    }
    
    .bookingScene__SecondRoomSelectTimeClass {
        width: 290px;
        height: 50px;
        font-size: 25px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
    
    
    }
    
    .bookingScene__SecondRoomSelectParticipantslabelClass {
    
        font-size: 25px;
    }
    
    .bookingScene__SecondRoomSelectParticipantsClass {
        width: 290px;
        height: 50px;
        font-size: 25px;
        border-radius: 5px;
        padding: 10px;
    
    
    }
    
    .bookingSceneContainer__SecondRoomSubmitBtnClass {
        background-color: white;
        margin: 400px 0px 0px 1400px;
        height: 100px;
        font-size: 25px;
        border-radius: 5px;
    
    }
    }
    
    // Third modal page
    
    .bookingSceneContainer__LastSectionClass {
        position: sticky;
        z-index: 1;
        width: 95%;
        height: 95%;
        background-color: #011827;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px ;
    
    .bookingSceneContainer__LastSectionh2Class {
        font-size: 60px ;
    
    }
    
    .bookingSceneContainer__LastSectionLinkClass {
        
        font-size: 25px;
        color: rgb(93, 61, 209);
        border-bottom: rgb(61, 48, 110) solid 2px;
    }
    
    }
